@page
@model Stiri.Pages.Jurnalisti.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Jurnalist</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jurnalist.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jurnalist.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jurnalist.Prenume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jurnalist.Prenume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jurnalist.Adresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jurnalist.Adresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jurnalist.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jurnalist.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jurnalist.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jurnalist.Telefon)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Jurnalist.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
