@page
@model Stiri.Pages.Jurnalisti.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Jurnalist</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jurnalist.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jurnalist.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jurnalist.Prenume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jurnalist.Prenume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jurnalist.Adresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jurnalist.Adresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jurnalist.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jurnalist.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jurnalist.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jurnalist.Telefon)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Jurnalist?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
