@page "{id:int?}"
@model Stiri.Pages.Categorii.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categorie[0].Nume_Categorie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CatArtData.Categorii)
        {
            string selectedRow = "";
            // foreach (var artjurn in item.Articole_Jurnalist)
            // {
            if (item.ID == Model.CategorieID)
            {
                selectedRow = "table-success";
            }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Nume_Categorie)
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@if (Model.CatArtData.Categorii != null)
{
    <h3>Articole pe categorii</h3>
    <table class="table">
        @foreach (var item in Model.CatArtData.Categorii)
        {
            string selectedRow = "";
            foreach (var catart in item.Categorii_Articole)
            {

                selectedRow = "";
                if (catart.CategorieID == Model.CategorieID)
                {
                    selectedRow = "table-success";
                }
                <tr class="@selectedRow">
                    <td>
                        @{
                            <a asp-page="/Articole/Details" asp-route-id="@catart.Articol.ID">@catart.Articol.Titlu</a> @: @catart.Articol.Data
                            @: categoria @catart.Categorie.Nume_Categorie
                            <br />
                        }
                    </td>
                </tr>

            }
        }
    </table>
}
